fastapi
uvicorn
python-dotenv
pydantic
PyPDF2
langchain
langchain-core
langchain-community
langchain-groq
langgraph
tavily-python
chromadb
redis
langgraph-checkpoint-redis
python-multipart
langchain-chroma
fastembed
asyncpg
sqlalchemy
langchain-openai
pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
