fastapi
uvicorn
python-dotenv
pydantic
PyPDF2
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
tavily-python
sentence-transformers
chromadb
redis
langgraph-checkpoint-redis
python-multipart
langchain-chroma
fastembed