fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-core
langchain-community
langchain-groq
langgraph
tavily-python
PyPDF2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
chromadb
